.down-arrow-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.down-arrow {
    cursor: pointer;
    border: none;
    width: 48px;
    height: 48px;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    60% {
        -moz-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    60% {
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}


@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    60% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}
