/* GLOBAL *********************************************************************/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-width: 320px;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    min-width: 100vw;
}

h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
}

/* SECTIONS *******************************************************************/

.section {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
}

.section-column {
    width: 100%;
    max-width: 900px;
    flex-grow: 3;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.section-column h1 {
    font-size: 28px;
    font-weight: 600;
    color: rgba(55, 71, 79, 1);
    margin-bottom: 8px;
}

.section-column h2 {
    font-size: 24px;
    font-weight: 200;
    color: rgba(55, 71, 79, 0.9);
    margin-bottom: 24px;
}

.section-column h3 {
    font-size: 18px;
    color: rgb(55, 71, 79);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-decoration: solid;
}

.section-column a {
    color: rgb(55, 71, 79);
    text-decoration: none;
    border-bottom: 1px rgb(55, 71, 79) dotted;
}

/* LANDING (SECTION 1 / 3) ****************************************************/

.landing {
    justify-content: space-between;
    background: #d9c1e9
        linear-gradient(to bottom, #d1c4e9, #d5c3e9, #d9c1e9, #ddc0e8, #e1bee7);
}

.landing-titles-row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 900px;
}

.landing-titles-row h1 {
    font-weight: 600;
    font-size: 52px;
    margin: 0 0 4px 0;
    border-bottom: thick double;
    padding-bottom: 20px;
    color: #ffffff;
}

.landing-titles-row h2 {
    font-weight: 300;
    font-size: 36px;
    margin: 0;
    padding: 6px 0 12px 0;
    color: #ffffff;
}

.landing-titles-row h2 img {
    width: 20px;
    height: 20px;
    margin: 0 6px 0 6px;
}

/* SKILLS (SECTION 2 / 3) *****************************************************/

.skills {
    background-image: linear-gradient(
        to bottom,
        #fff7ff,
        #fff6ff,
        #fff4ff,
        #fff3ff,
        #fff1ff
    );
}

.skills {
    color: #37474f;
}

.skills-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.skills-card {
    font-family: "Roboto", sans-serif;
    color: rgba(55, 71, 79, 0.75);
    font-size: 16px;
    font-weight: 200;
    flex-basis: 25%;
}

.skills-card ul {
    list-style: none;
    padding-left: 0;
}

.skills-card li {
    margin: 8px 0;
}

/* PROJECTS (SECTION 3 / 3) ***************************************************/

.projects {
    background-image: linear-gradient(
        to top,
        #ede7f6,
        #eee7f6,
        #f0e6f6,
        #f1e6f5,
        #f3e5f5
    );
    color: #37474f;
}

.projects-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.projects-card {
    position: relative;
    overflow: hidden;
    min-height: 160px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}

.projects-card h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-decoration: solid;
    transition: margin 0.5s;
    color: white;
}

.projects-card:hover h3 {
    margin-top: -216px;
    transition: margin 0.5s;
}

#do-you-want-to-be-a-billionare {
    background: url("../images/project_screengrabs/do_you_want_to_be_a_billionaire.png")
        no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 0 900px rgba(91, 77, 117, 0.7);
}

#what-happened {
    background: url("../images/project_screengrabs/what_happened.png") no-repeat
        center center;
    background-size: cover;
    box-shadow: inset 0 0 0 900px rgba(91, 77, 117, 0.7);
}

#slothbucket {
    background: url("../images/project_screengrabs/slothbucket.png") no-repeat
        center center;
    background-size: cover;
    box-shadow: inset 0 0 0 900px rgba(91, 77, 117, 0.7);
}

.project-description {
    position: absolute;
    top: 160px;
    transition: top 0.5s;
    padding: 0 16px;
    font-weight: 400;
}

.projects-card:hover .project-description {
    top: 32px;
    transition: top 0.5s;
}

.projects-card a {
    text-decoration: none;
}

/* FOOTER *********************************************************************/

footer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: rgba(55, 71, 79, 0.8);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    align-items: center;
    align-content: center;
    padding: 16px;
}

footer a {
    text-decoration: none;
}

footer img {
    background-color: #d1c4e9;
    border-radius: 25px;
    padding: 8px;
    width: 1.5px;
    height: 1.5px;
    margin: 8px;
    opacity: 0.4;
    transition: opacity 0.2s;
}

footer img:hover {
    opacity: 1;
    transition: opacity 0.2s;
}


/* TABLETS ********************************************************************/

@media only screen and (max-width: 800px) {
    .section {
        padding: 0 16px;
    }

    .landing-titles-row h1 {
        font-size: 36px;
    }

    .landing-titles-row h2 {
        font-size: 24px;
    }
}


/* PHONES *********************************************************************/

@media only screen and (max-width: 600px) {
    .section {
        padding: 0 16px;
    }

    .landing-titles-row h1 {
        display: flex;
        flex-direction: column;
        font-size: 38px;
        padding-bottom: 18px;
    }

    .landing-titles-row h2 {
        font-size: 26px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .landing-titles-row h2 img {
        margin: 6px 0 0 6px;
    }
    
    .skills-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-card {
        font-size: 14px;
    }

    .projects-cards-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-column h1 {
        font-size: 20px;
    }
    
    .section-column h2 {
        font-size: 16px;
    }
    
    .section-column h3 {
        font-size: 16px;
    }
}
